.navbar{
    background-color: yellow;
    color: yellow;

}

 .box{
    border-style: solid;
    border-color: green;
    border-width: 2px;
    background-color: yellow;
    height: 100px;

} 

#title{
    background-image:src('./public/coollogo_com-114843326dub.png');
}